*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body{
    text-align: center;
    background-color: black;
}

.container{
    width: 40vw;
    background-color: grey;
    margin: auto;
    margin-top: 80px;
    padding: 50px;
    border-radius: 10px;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    padding-bottom: 50px;
}

input{
    padding: 20px;
    font-size: 20px;
    width: 33%;
    border-radius: 5px;
    border: none;
    height: 5%;
}

button{
    width: 40%;
    margin: auto;
    height: 15%;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    transition: 0.3s;
}

button:hover{
    background-color: #ceb9b9;
    cursor: pointer;
    box-shadow: #0000004d 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
}

.container2{
    display: flex;
    justify-content: space-around;
}

#p{
    font-size: 30px;
}

#proibido{
    width: 250px;
    height: 250px;
    margin: auto;
}

.caixa{
    width: 40vw;
    background-color: grey;
    margin: auto;
    margin-top: 60px;
    padding: 50px;
    border-radius: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
}





























.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }
  